<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystalmail:object name="productname" /> :: <crystalmail:label name="compose" /></title>
<crystalmail:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/googiespell.css" />
<script type="text/javascript" src="/functions.js"></script>
<script type="text/javascript" src="/splitter.js"></script>
<style type="text/css">
#compose-attachments { width: <crystalmail:exp expression="!empty(cookie:composesplitterv) ? cookie:composesplitterv-5 : 175" />px; }
#compose-container { left: <crystalmail:exp expression="!empty(cookie:composesplitterv) ? cookie:composesplitterv+5 : 185" />px;
<crystalmail:exp expression="browser:ie ? ('width: expression((parseInt(this.parentNode.offsetWidth)-'.(!empty(cookie:composesplitterv) ? cookie:composesplitterv+5 : 180).')+\\'px\\');') : ''" />
}
</style>
</head>
<body onload="crystal_init_mail_ui()">

<crystalmail:include file="/includes/taskbar.html" />
<crystalmail:include file="/includes/header.html" />

<form name="form" action="./" method="post">

<div id="messagetoolbar">
    <crystalmail:button command="list" type="link" class="button back" classAct="button back" classSel="button backSel" title="backtolist" content=" " />
    <crystalmail:button command="send" type="link" class="buttonPas send" classAct="button send" classSel="button sendSel" title="sendmessage" content=" " />
    <crystalmail:button command="spellcheck" type="link" class="buttonPas spellcheck" classAct="button spellcheck" classSel="button spellcheckSel" title="checkspelling" content=" " />
    <crystalmail:button name="addattachment" type="link" class="button attach" classAct="button attach" classSel="button attachSel" title="addattachment" onclick="cmail_ui.show_popup('uploadmenu', true);return false" content=" " />
    <crystalmail:button command="insert-sig" type="link" class="buttonPas insertsig" classAct="button insertsig" classSel="button insertsigSel" title="insertsignature" content=" " />
    <crystalmail:button command="savedraft" type="link" class="buttonPas savedraft" classAct="button savedraft" classSel="button savedraftSel" title="savemessage" content=" " />
    <crystalmail:container name="toolbar" id="compose-toolbar" />
    <crystalmail:button name="messageoptions" id="composemenulink" type="link" class="button messagemenu" title="messageoptions" onclick="cmail_ui.show_popup('composemenu', true);return false" content=" " />
</div>

<div id="mainscreen">

<div id="compose-attachments">
<div class="boxtitle"><crystalmail:label name="attachments" /></div>
<div class="boxlistcontent">
    <crystalmail:object name="composeAttachmentList" deleteIcon="/images/icons/delete.png" cancelIcon="/images/icons/delete.png" loadingIcon="/images/display/loading_blue.gif" />
</div>
<div class="boxfooter">
  <crystalmail:button name="uploadmenulink" id="uploadmenulink" type="link" title="addattachment" class="button addgroup" onclick="cmail_ui.show_popup('uploadmenu', true);return false" content=" " />
</div>
</div>

<script type="text/javascript">
  var composesplitv = new crystal_splitter({id:'composesplitterv', p1: 'compose-attachments', p2: 'compose-container', orientation: 'v', relative: true, start: 175});
  cmail.add_onload('composesplitv.init()');
</script>

<div id="compose-container">
    <div id="compose-headers-div" style="width: 100%;">
        <table border="0" cellspacing="0" cellpadding="1" id="compose-headers">
        <tr>
            <td class="title"><label for="_from"><crystalmail:label name="from" /></label></td>
            <td class="editfield"><crystalmail:object name="composeHeaders" part="from" form="form" id="_from" tabindex="1" /></td>
        </tr><tr>
            <td class="title top"><label for="_to"><crystalmail:label name="to" /></label></td>
            <td class="editfield"><crystalmail:object name="composeHeaders" part="to" form="form" id="_to" cols="70" rows="2" tabindex="2" /></td>
        </tr><tr id="compose-cc">
            <td class="title top">
                <a href="#cc" onclick="return cmail_ui.hide_header_form('cc');"><img src="/images/icons/minus.gif" alt="" title="<crystalmail:label name='delete' />" /></a>
                <label for="_cc"><crystalmail:label name="cc" /></label>
            </td>
            <td class="editfield"><crystalmail:object name="composeHeaders" part="cc" form="form" id="_cc" cols="70" rows="2" tabindex="3" /></td>
        </tr><tr id="compose-bcc">
            <td class="title top">
                <a href="#bcc" onclick="return cmail_ui.hide_header_form('bcc');"><img src="/images/icons/minus.gif" alt="" title="<crystalmail:label name='delete' />" /></a>
                <label for="_bcc"><crystalmail:label name="bcc" /></label>
            </td>
            <td colspan="2" class="editfield"><crystalmail:object name="composeHeaders" part="bcc" form="form" id="_bcc" cols="70" rows="2" tabindex="4" /></td>
        </tr><tr id="compose-replyto">
            <td class="title top">
                <a href="#replyto" onclick="return cmail_ui.hide_header_form('replyto');"><img src="/images/icons/minus.gif" alt="" title="<crystalmail:label name='delete' />" /></a>
                <label for="_replyto"><crystalmail:label name="replyto" /></label>
            </td>
            <td class="editfield"><crystalmail:object name="composeHeaders" part="replyto" form="form" id="_replyto" size="70" tabindex="5" /></td>
        </tr><tr>
            <td></td>
            <td id="formlinks">
                <a href="#cc" onclick="return cmail_ui.show_header_form('cc')" id="cc-link"><crystalmail:label name="addcc" /></a>
                <span class="separator">|</span>
                <a href="#bcc" onclick="return cmail_ui.show_header_form('bcc')" id="bcc-link"><crystalmail:label name="addbcc" /></a>
                <span class="separator">|</span>
                <a href="#reply-to" onclick="return cmail_ui.show_header_form('replyto')" id="replyto-link"><crystalmail:label name="addreplyto" /></a>
            </td>
        </tr><tr>
            <td class="title"><label for="compose-subject"><crystalmail:label name="subject" /></label></td>
            <td class="editfield"><crystalmail:object name="composeSubject" id="compose-subject" form="form" tabindex="6" /></td>
        </tr>
        </table>
    </div>
    <div id="compose-div">
        <div class="boxlistcontent" style="overflow: hidden; top: 0">
            <crystalmail:object name="composeBody" id="compose-body" form="form" cols="70" rows="20" tabindex="7" />
        </div>
        <div class="boxfooter">
            <div id="compose-buttons">
                <crystalmail:button type="input" command="send" class="button mainaction" label="sendmessage" tabindex="8" />
                <crystalmail:button type="input" command="list" class="button" label="cancel" tabindex="9" />
            </div>
            <div id="compose-editorfooter">
                <span id="spellcheck-control" style="margin-right:10px"></span>
                <span>
                    <label><crystalmail:label name="editortype" /></label>
                    <crystalmail:object name="editorSelector" editorid="compose-body" tabindex="10" />
                </span>
            </div>
        </div>
    </div>
</div>

</div>

<div id="composeoptionsmenu" class="popupmenu">
    <table>
    <tr>
        <td><label for="rcmcomposereceipt"><crystalmail:label name="returnreceipt" />:</label></td>
        <td><crystalmail:object name="receiptCheckBox" form="form" id="rcmcomposereceipt" /></td>
    </tr><tr>
        <td><label for="rcmcomposepriority"><crystalmail:label name="priority" />:</label></td>
        <td><crystalmail:object name="prioritySelector" form="form" id="rcmcomposepriority" /></td>
    </tr><tr>
        <td><label><crystalmail:label name="savesentmessagein" />:</label></td>
        <td><crystalmail:object name="storetarget" maxlength="30" /></td>
    </tr>
    </table>
</div>

</form>

<crystalmail:object name="composeAttachmentForm" id="attachment-form" attachmentFieldSize="40" class="popupmenu" />

</body>
</html>
