<?php

/* settings plugin */

/* limit languages:
$cmail_config['limit_languages'] = array();
shows all available languages!

NOTICE: User's preferred language is always shown!
*/
$cmail_config['limit_languages'] = array();

/* limit skins:
$cmail_config['limit_skins'] = array();
shows all available skins!

NOTICE: User's preferred skin is always shown!
*/
$cmail_config['limit_skins'] = array();


?>