<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystalmail:object name="pagetitle" /></title>
<crystalmail:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body>

<crystalmail:include file="/includes/taskbar.html" />
<crystalmail:include file="/includes/header.html" />
<crystalmail:if condition="env:task == 'settings'" />
  <crystalmail:include file="/includes/settingstabs.html" />
<crystalmail:endif />

<div id="pagecontent">
<crystalmail:object name="plugin.body" />
</div>
  
<crystalmail:object name="plugin.footer" />

</body>
</html>
