<?php

/* Default addressbook source */
$cmail_config['default_addressbook'] = '0';

/* database table name */
$cmail_config['db_table_google_contacts'] = 'google_contacts';

/* max results */
$cmail_config['google_contacts_max_results'] = 250;

?>