<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystalmail:object name="pagetitle" /></title>
<link rel="stylesheet" type="text/css" href="/print.css" />
</head>
<body>

<div id="header"><img src="/../crystal/images/crystalmail_logo.png" alt="<crystalmail:object name="productname" />" /></div>

<div id="printmessageframe">
<crystalmail:object name="messageHeaders" class="headers-table" cellspacing="0" cellpadding="2" />
<crystalmail:object name="messageAttachments" id="attachment-list" />
<crystalmail:object name="messageBody" id="messagebody" showImages="false" />
</div>

</body>
</html>
