html > body .canvas {
	height: auto;
}

.canvas {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent url("images/bg.png") center center;
	z-index: 1;
}

table.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background: transparent url("images/bg.png") center center no-repeat;

	padding-bottom: 93px;
}
