<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystalmail:object name="pagetitle" /></title>
<crystalmail:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body>

<crystalmail:include file="/includes/taskbar.html" />
<crystalmail:include file="/includes/header.html" />
<crystalmail:include file="/includes/settingstabs.html" />

<form name="subscriptionform" action="./" onsubmit="cmail.command('create-folder');return false;">

<div id="mainscreen">

<div id="folder-manager">
<crystalmail:object name="foldersubscription" form="subscriptionform" id="subscription-table"
  cellpadding="1" cellspacing="0" summary="Folder subscription table" class="records-table"
  deleteIcon="/images/icons/delete.png"
  renameIcon="/images/icons/rename.png" />
</div>

<div id="bottomboxes" class="box">
<div class="boxtitle"><crystalmail:label name="createfolder" /></div>

<div class="boxcontent">
<crystalmail:label name="foldername" />:&nbsp;
<crystalmail:object name="createfolder" form="subscriptionform" hintbox="cmailaddfolderhint" />
<crystalmail:button command="create-folder" type="input" class="button" label="create" />
<div id="cmailaddfolderhint" class="hint" style="margin-top:1em; height:16px"></div>
</div>
</div>

</div>

</form>

</body>
</html>
